<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Organisation</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.ico" rel="icon">
  <link href="static/img/favicon.ico" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">

  <!--Main Stylesheet File -->
  <!-- idk if this is supposed to be included or not-->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
   <link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='styles/layout2.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/newsletter.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/responsive.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery/foundation.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery/set1.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout2.css') }}">
   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">



  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>


<body>
    <!--==========================
    Header
    ============================-->
    <header id="header">

      <div id="topbar">
        <div class="container">
          <div class="social-links">
            <a href="https://twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://in.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="logo float-left">

          <!-- Uncomment below if you prefer to use an image logo


            Homepage
            About us - Our work, Vision, People behind xyz, Way forward, Reach & presence, Impact, Our Partners, (Values), etc
            Gallery (organized project wise)+ Our team
            Media & Reporting
            Success stories
            List of beneficiaries
            Contact us - footer
            contact us - new page as well-->

          <h1 class="text-light"><a href="#intro" class="scrollto"><span>ORGANISATION</span></a></h1>
          <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-md-block">
          <ul>
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="drop-down"><a href="{{ url_for('ourwork') }}">About Us</a>
            <ul>
              <li><a href="{{ url_for('ourwork') }}">Our Work</a></li>
              <li><a href="{{ url_for('vision') }}">Vision & Mission</a></li>
              <li><a href="{{ url_for('visioners') }}">Visioners</a></li>
              <li><a href="{{ url_for('reach') }}">Reach and presence</a></li>
              <li><a href="{{ url_for('impact') }}">Impact</a></li>
              <li><a href="{{ url_for('partners') }}">Our Partners</a></li>
              
            </ul>
            </li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('team') }}">Team</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
            <li><a href="{{ url_for('newsletter') }}">Newsletter</a></li>
          </ul>
        </nav><!-- .main-nav -->

      </div>
    </header><!-- #header -->


    <br><br><br><br>
    {% block content %}{% endblock %}
  

    <!-- this gonna be footer -->
   <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-12">

                  <div class="footer-info" style="font-family:Poppins, sans-serif;">
                    <h3>Organisation</h3>
                    
                  </div></div>

                <div class="col-sm-8">

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      <p> <i class="fa fa-map-marker">  &nbsp; A 108 Adam Street, <br> &emsp; New York, <br>  &emsp; NY 535022</i></p>
                      
                      <p><i class="fa fa-phone"> &nbsp; +1 5589 55488 55s</i></p>
                      
                      <p><i class="fa fa-envelope"> &nbsp; info@example.com</i></p>
                      
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/" class="twitter" target="_blank" rel=""><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <br><br><br>
            <div class="form">
              <h4>Send us a message</h4>
              <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer><!-- #footer -->

  <a href="index.html" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- JavaScript Libraries -->
 <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vedant.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/layout2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery/imagesloaded.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery/jquery.infinitescroll.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gallery/masonry.pkgd.min.js') }}"></script>

</body>
</html>
